.about {
  display: flex;
  justify-content: center;
}
.container {
  width: 1284px;
  margin-top: 65px;
}
.aboutImg {
  height: 400px;
  margin-bottom: 100px;
}
.aboutbhands {
  text-align: center;
  margin-bottom: 100px;
}
.aboutbhandsH1 {
  font-size: 35px;
}
.aboutbhands p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 55px;
}
.aboutbhands p:nth-child(3) {
  line-height: 2;

  padding: 0 105px;
  font-size: 14px;
}
.historyArea {
  background-color: #f6f6f6;
  height: 450px;
  margin-bottom: 150px;
}

.history {
  padding: 100px 160px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.history h3 {
  position: relative;
  font-size: 16px;
  color: #000;
  width: 100px;
  font-weight: bold;
}

.history h3::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000;
  left: 40px;
  bottom: -33px;
}

.inner:nth-child(1) h3 {
  float: right;
  margin-right: 30px;
}
.inner:nth-child(2) h3 {
  float: right;
}
.inner:nth-child(2) h3::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000;
  left: 40px;
  bottom: -33px;
}

.inner:nth-child(3) h3 {
  float: right;
  margin-right: 115px;
}
.inner:nth-child(4) h3 {
  float: right;
  margin-right: 80px;
}

.history ol {
  padding: 74px 0 74px;
}

.history li {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.5px;
}
.history li:nth-child(1):before {
  content: "";
  position: absolute;
  left: -60px;
  right: 0;
  margin: auto;
  top: 143px;
  height: 2px;
  width: 750px;
  background-color: black;
}

.history ol {
  text-align: center;
}
.section1 {
  width: 163px;
}
.section2 {
  width: 130px;
  margin-left: 40px;
}
.section3 {
  width: 316px;
}

/**/
.aboutButtom {
  margin: 0 212px;
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
}
.logo {
  margin: auto;
  margin-bottom: 20px;
}
.bottomabout h1 {
  margin-bottom: 30px;
}
.logo2 {
  margin-top: 30px;
  width: 860px;
  height: 90px;
}
