.calendar {
  display: flex;
  justify-content: center;
}
.container {
  width: 1150px;
  position: relative;
  margin: 0 67px;
  margin-bottom: 100px;
  box-sizing: border-box;
}
.topMenu {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.year span {
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
}
.year_menu.active {
  font-weight: bold;
}
.search {
  border-radius: 15px;
  border: 1px solid #595757;
  width: 250px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
}
.search:focus {
  outline: none;
}

/* .inner {
  display: grid;
  grid-template-rows: repeat(2);
  row-gap: 50px;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns~: repeat(auto-fit, minmax(369px, 3fr));
} */

.box {
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 50px;
}
.calendarImage {
  width: 369px;
  height: 440px;
}
.info {
  width: 369px;
  height: 40px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info span {
  color: #595757;
  font-size: 15px;
  padding: 10px;
}
