hr {
  margin: 0;
  color: #b5b5b6;
  /* width: 1284px; */
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

@font-face {
  font-family: "윤고딕320";
  src: url("./fonts/윤고딕320.ttf");
}
@font-face {
  font-family: "윤고딕340";
  src: url("./fonts/윤고딕340.ttf");
}

@font-face {
  font-family: "윤고딕딕320";
  src: url("./fonts/윤고딕딕320.ttf");
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "윤고딕360";
  src: url("./fonts/윤고딕360.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf");
  unicode-range: U+0041-005A, U+0061-007A;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "윤고딕딕320", "Helvetica";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
